PORT = 4000
HOST = https://my-twitter-clone.com
DB_NAME = ''
DB_USERNAME = ''
DB_PASSWORD = ''

DB_USERS_COLLECTION = users
DB_REFRESH_TOKENS_COLLECTION = refresh_tokens
DB_FOLLOWERS_COLLECTION = followers
DB_TWEET_COLLECTION = tweets
DB_HASHTAG_COLLECTION = hashtags
DB_BOOKMARK_COLLECTION = bookmarks
DB_LIKE_COLLECTION = likes
DB_CONVERSATION_COLLECTION = conversations
HASH_PASSWORD_SECRET= ''

JWT_SECRET_ACCESS_TOKEN = ''
JWT_SECRET_REFRESH_TOKEN  = ''
JWT_SECRET_EMAIL_TOKEN = ''
JWT_SECRET_FORGOT_PASSWORD_TOKEN = ''

RESEND_API_KEY = ''
URL_CLIENT_HOST = http://localhost:3000

ACCESS_TOKEN_EXPIRES_IN = 900
REFRESH_TOKEN_EXPIRES_IN = 36000
EMAIL_VERIFY_TOKEN_EXPIRES_IN = 604800
FORGOT_PASSWORD_TOKEN_EXPIRES_IN = 604800

GOOGLE_CLIENT_ID = ''
GOOGLE_CLIENT_SECRET = ''
GOOGLE_REDIRECT_URI = http://localhost:4000/users/oauth/google
CLIENT_REDIRECT_CALLBACK= http://localhost:3000/login/oauth


PASSWORD_DATABASE = ''
SUPABASE_URL = https://apvroigqephiilvgxfug.supabase.co
SUPABASE_SERVICE_KEY = ''